{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Gleymdirðu lykilorðinu þínu?{% endblock title %}

{% block content %}
<h1>Gleymdirðu lykilorðinu þínu?</h1>
<p>Sláðu inn netfang þitt hér að neðan, og þú færð póst með upplýsingum um hvernig þú getur sett nýtt lykilorð. Ef þú
    manst ekki hvaða netfang þú notaðir skaltu hafa samband við Atla Freysa.</p>

<form method="POST">{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Sendu mér póst">
</form>
{% endblock content %}