<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Atli Freysi Net{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="welcome-area">
    <h2>Sælir, {{ user.username }}</h2>
    <p class="welcome-message">Mér þykir ánægjulegt að sjá þig hér. Þú getur tippað á leiki með því að ýta
        á takkann hér að neðan. Þar mátt þú tippa eins og þér sýnist og skipta um skoðun alveg fram að fyrsta sparki
        boltans. Stigagjöf er þannig að maður fær 3 stig fyrir rétta niðurstöðu, 2 stig ef markatalan er rétt, og 1 stig
        ef þú giskar á rétt mörk skoruð hjá öðru hvoru liði. Sem sagt, hámark stiga sem þú getur fengið fyrir eitt tipp
        eru 7 stig.
        <br><br>
        Athugaðu að síðan hefur verið uppfærð! Nú getur þú giskað á niðurstöður í útsláttarleikjum mótsins, og fyrir hverja
        rétta niðurstöðu færð þú 6 stig. Þú getur líka giskað á sigurvegara mótsins, og fyrir réttan sigurvegara mótsins færð
        þú 10 stig (plús 6!). Þú getur giskað á þetta með því að ýta á takkann hér að neðan. Þú getur giskað á úrslit
        útsláttarleikja þar til fyrsti útsláttarleikur byrjar (29. júní, kl. 16:00 GMT). Takk fyrir þátttökuna! Þú getur líka
        ennþá giskað á úrslit hvers leiks fyrir sig með því að ýta á "Tippa á leiki".
    </p>
    <div class="button-container">
        <a href="{% url 'game_list' %}" class="btn btn-success mb-3">Tippa á leiki</a>
        <a href="{% url 'knockout:predict_stage' stage='R16' %}" class="btn btn-success">Giska á sigurvegara mótsins</a>
    </div>
</div>
{% else %}
<div class="logged-out-area">
    <h2>Skráðu þig inn hér king geitin þín</h2>
    <a href="{% url 'login' %}" class="btn btn-primary">Innskráning</a>
    <a href="{% url 'signup' %}" class="btn btn-secondary">Nýskráning</a>
</div>

{% endif %}
{% endblock %}